  <link rel="stylesheet" href="/css/header.css">
  <nav class="menu">
    <ul>
        <li><a class="enlace" href="/">inicio</a></li>
        <li><a class="enlace" href="/productos/comprar">productos</a></li>
        <li><a class="enlace" href="#">ofertas</a></li>
        <li><a class="enlace" href="#">sobre nosotros</a></li>
        <li><a class="enlace" href="#">contacto</a></li>
        <li><a class="enlace" href="/inicio/login">login</a></li>
    </ul>
  </nav>
  