<head>
  <link rel="stylesheet" href="/css/header.css">
</head>
<div class="syk-header-container">
  <a class="syk-header-logo" href="#">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="syk-logo-icon">
      <path
        d="M12 2a5 5 0 0 0-5 5v4H6a2 2 0 0 0-2 2v4a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4v-4a2 2 0 0 0-2-2h-1V7a5 5 0 0 0-5-5z" />
      <path d="M14 9V5a2 2 0 0 0-4 0v4" />
      <path d="M2 14h4" />
      <path d="M6 18v4" />
    </svg>
    <span class="syk-header-title">Node.JS-EJS</span>
  </a>
  <nav class="syk-header-nav">
    <a class="syk-nav-link" href="/">Inicio</a>
    <a class="syk-nav-link" href="/comprar">Comprar</a>
    <a class="syk-nav-link" href="/login">Iniciar session</a>
  </nav>
</div>
