<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bilioteca|DB</title>

  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  
  <%- include('./partials/header.ejs') %>

  <div class="content-wrapper">
    <div class="main-content">
      <main class="flex-container">
        <div class="flex-1 bg-gradient">
          <img
            src="img/bienvenida.svg"
            width="500"
            height="500"
            alt="Hero Image"
            class="hero-image"
          />
        </div>
        <div class="flex-1 text-container">
          <div class="text-content">
            <h1 class="title">Bienvenido a nuestra aplicación</h1>
            <p class="subtitle">Descubre todas las funcionalidades que tenemos para ti.</p>
          </div>
          <a href="#"></a>
        </div>
      </main>
    </div>

    <%- include('./partials/footer.ejs') %>
  </div>
</body>
</html>
