

/* Estilos para el footer */
.syk-footer-container {
  background-color: #000000;
  padding: 4vw;
  text-align: center;
  font-size: 2.5vw; /* Ajuste dinámico del tamaño de texto */
  color: #ffffff;
  border-top: 2px solid #fff700; 
  position: relative;
}

.syk-footer-container p {
  margin: 0;
}

.syk-social-icons {
  position: absolute;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
}

.syk-social-icons a {
  color: #ffffff;
  margin-left: 4vw;
  font-size: 6vw; /* Tamaño dinámico de los iconos */
  text-decoration: none;
}

.syk-social-icons a:hover {
  color: #fff700; /* Cambia el color al pasar el mouse */
}

/* Media Queries para ajustes específicos */
@media (min-width: 768px) {
  .syk-footer-container {
    padding: 16px;
    font-size: 0.875rem; /* 14px */
  }

  .syk-social-icons a {
    font-size: 1.5rem; /* Tamaño de los iconos */
  }
}

@media (min-width: 1000px) {
  .syk-footer-container {
    padding: 20px;
  }
}
