body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar {
    position: fixed;
    top: 10px;
    left: 0px;
    width: 70px;
    height: 93vh;
    background-color: #D7CCC8;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 10px 0;
}

.enlace {
    display: flex;
    width: 40px;
    height: 40px;
    color: rgb(141, 110, 99, 1);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.enlace:hover {
    color: rgb(53, 30, 0); /* Cambia el color del icono cuando se pasa el cursor por encima */
}

.sidebar a:hover {
    color: rgb(216, 126, 0);
}

/* Ajustes responsivos */
@media (max-width: 820px) {
    .enlace {
        width: 40px;
        height: 40px;
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .enlace {
        width: 35px;
        height: 35px;
        font-size: 9px;
    }
}
