    body {
        margin: 0;
        padding: 0;
        font-family: 'Times New Roman', Times, serif;
    }
  
    .enlace {
        text-decoration: none;
        margin: 0 10px;
        font-size: 18px;
        transition: font-size 0.3s ease; /* Agregar transición al tamaño de fuente */
    }
  
    .enlace:hover {
        font-size: 20px; /* Aumentar tamaño al pasar el mouse */
    }
  
    .menu {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro y transparente */
        border-radius: 50px;
        padding: 10px 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombras más oscuras */
        transition: top 0.1s;
        z-index: 1000;
        max-width: 90%;
        width: auto;
    }
  
    .menu.hidden {
        top: -100px;
    }
  
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
  
    .menu a {
        text-decoration: none;
        color: #ffffff; /* Color de texto blanco */
        font-weight: bold;
        transition: color 0.3s ease; /* Transición suave para el color */
    }
  
    .menu a:hover {
        color: burlywood; /* Cambiar color al pasar el mouse */
    }
  
    /* Media Queries */
    @media (max-width: 820px) {
        .enlace {
            font-size: 18px;
            margin: 0 8px;
        }
  
        .menu {
            padding: 10px 15px;
        }
    }
  
    @media (max-width: 430px) {
        .enlace {
            font-size: 16px;
            margin: 0 5px;
        }
  
        .menu {
            padding: 8px 10px;
        }
    }
  
    @media (max-width: 480px) {
        .enlace {
            font-size: 16px;
            margin: 0 5px;
        }
  
        .menu {
            padding: 8px 10px;
        }
    }
  
    @media (max-width: 393px) {
        .enlace {
            font-size: 15px;
            margin: 0 3px;
        }
  
        .menu {
            padding: 7px 8px;
        }
    }
 