body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.slider-container {
    position: relative;
    width: 100%; /* Abarca todo el ancho de la pantalla */
    max-width: 100vw; /* Máximo ancho de la ventana */
    overflow: hidden;
    height: 300px; /* Ajusta la altura del slider */
    margin: 100px auto 0; /* Margen superior de 20px */
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 1s ease;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%; /* Asegura que las imágenes tengan la misma altura */
    object-fit: cover; /* Ajusta la imagen para que cubra todo el espacio sin deformarse */
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
